# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.sqlite3
db.sqlite3
/media/
staticfiles/

# Environment & secrets
.env

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs
*.log
